<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>

{% block header %}
    {% include '../layout/header.twig' %}
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    {% include '../layout/footer.twig' %}
{% endblock %}
{% block scripts %}

    <div class="overlay">
        <div class="modal">
            <h3>Забронировать время</h3>
            <form class="form">
                <label><input type="text" placeholder="Имя"></label>
                <select name="cars" id="cars">
                    <option value="">Выберите время</option>
                    <option value="8:00">8:00</option>
                    <option value="9:00">9:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                </select>
                <label><input type="phone" id="user_phone" placeholder="Номер телефона*"></label>
                <textarea name="text" id="text" placeholder="Комментарий"></textarea>
                <button type="submit" class="btn btn--black ripple">отправить</button>
            </form>
            <button class="modal-close">
                <span></span>
                <span></span>
            </button>

        </div>
    </div>
    <div class="overlay__send">
        <div class="modal">
            <img src="images/sending.svg" alt="">
            <h3>Ваша заявка отправлена</h3>
            <p>Мы свяжемся с вами в ближайшее <br>
                время для уточнения деталей.</p>
            <button class="modal-close modal-close--send">
                <span></span>
                <span></span>
            </button>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/libs/swiper-bundle.min.js"></script>
    <script src="/js/libraries.js"></script>
    <script src="/js/App.js"></script>

    <script src="/js/libs/jquery.maskedinput.min.js"></script>

{% endblock %}
</body>
</html>